<ion-header>
  <ion-toolbar color="dark">
    <ion-title style="text-align:center;">Reto</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
</ion-content>
<ion-grid>
  <ion-row>
    <ion-col>
      <ion-button color="dark" block (click)="start()">Iniciar</ion-button>
    </ion-col>
    <ion-col>
      <ion-button color="dark" block (click)="download()">Audio</ion-button>
    </ion-col>
  </ion-row>
</ion-grid>
<ion-grid>
  <ion-col>
    <ion-item>
      <ion-label >Texto: </ion-label>
      <ion-textarea color="shade" readonly="true" rows="6" cols="25" placeholder="Hola. Mi nombre es Andrea, es un placer conocerte. Vivo en la ciudad de medellin. Me gusta hacer deporte y los tacos."></ion-textarea>
    </ion-item>
  </ion-col>
</ion-grid>
 

  